<!doctype HTML>

<html>

    <!-- Head stuff -->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>EECS 373 Final Project</title>

        <!-- jQuery -->
        <script type="text/javascript" src="./static/external/jquery.js"></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="./static/external/bootstrap.css">
        <script type="text/javascript" src="./static/external/bootstrap.js"></script>

        <style>
            .thumbnail {
                text-align: center;
                padding-bottom:25px;
            }

            .thumbnail img {
                max-width:700px;
                max-height:250px;
            }
        </style>

    </head>

    <!-- The main stuff -->
    <body>

        <!-- navbar -->
        <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Super Cars</a>

                <!-- the list of links -->
                <ul class="nav navbar-nav">
                    <li><a href="#">Our project</a></li>
                    <li><a href="#">Group members</a></li>
                </ul>

            </div>
        </div>
        </nav> <!-- navbar -->


        <!-- The controller with the jumbotron for starting the webpage -->
        <div id="home_controller">
            <div class="container">
                <!-- jumbotron -->
                <div class="jumbotron">
                    <!-- the heading -->
                    <h1>Yadle</h1>

                    <!-- description -->
                    <p>This is a simple hero unit, a simple jumbotron-style
                    component for calling extra attention to featured content or
                    information.</p>
                    <p>
                        <button id="start_button" class="btn
                            btn-primary">Start game</button>
                    </p>
                </div> <!-- jumbotron -->
            </div>
        </div>

        <!-- the controller which has the car selection process -->
        <div id="select_car_controller">
            <div class="container">
                <div style="text-align:center;" class="row">
                    <h1>Player 1 pick your car</h1><br>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <div class="thumbnail">
                            <a href="#"><img src="./static/fast.png"
                                alt="..."></a>
                            <h1>Fast Car</h1>
                            <button class="btn btn-primary">Choose</button>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <div class="thumbnail">
                            <a href="#"><img src="./static/tank.png"
                                alt="..."></a>
                            <h1>Fucking Tank</h1>
                            <button class="btn btn-primary">Choose</button>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <div class="thumbnail">
                            <a href="#"><img src="./static/strong.png"
                                alt="..."></a>
                            <h1>Monster truck</h1>
                            <button class="btn btn-primary">Choose</button>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <div class="thumbnail">
                            <a href="#"><img src="./static/trump.png"
                                alt="..."></a>
                            <h1>Donald Trump</h1>
                            <button class="btn btn-primary">Choose</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- the controller that has the game scores -->
        <div id="game_progress_controller">
        </div>

        <!-- footer -->
        <div class="footer">
            <div class="container">
                <hr>
                <p style="color:#817f7f">This project was developed by the
                students in EECS 373 - Embedded Systems
                <p style="color:#817f7f;">Copyright © 2015 EECS 373 Group,
                University of Michigan</p>
                <br>
            </div>
        </div>

        <script type="text/javascript" src="./static/js/script.js"></script>
        <script type="text/javascript" src="./static/js/Router.js"></script>
        <script type="text/javascript" src="./static/js/Activity.js"></script>
        <script type="text/javascript" src="./static/js/MainActivity.js"></script>

    </body>

</html>
