<!doctype HTML>

<html>

    <!-- Head stuff -->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>EECS 373 Final Project</title>

        <!-- jQuery -->
        <script type="text/javascript" src="./static/external/jquery.js"></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="./static/external/bootstrap.css">
        <script type="text/javascript" src="./static/external/bootstrap.js"></script>

        <style>
            .thumbnail {
                text-align: center;
                padding-bottom:25px;
            }

            .thumbnail img {
                max-width:700px;
                max-height:250px;
            }
        </style>

        <script type="text/javascript" src="./static/external/handlebars.js"></script>
    </head>

    <!-- The main stuff -->
    <body>

        <!-- navbar -->
        <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Super Cars</a>

                <!-- the list of links -->
                <ul class="nav navbar-nav">
                    <li><a href="#">Our project</a></li>
                    <li><a href="#">Group members</a></li>
                </ul>

            </div>
        </div>
        </nav> <!-- navbar -->


        <!-- The controller with the jumbotron for starting the webpage -->
        <div id="home_controller">
            <div class="container">
                <!-- jumbotron -->
                <div class="jumbotron">
                    <!-- the heading -->
                    <h1>EECS 373 Project</h1>

                    <!-- description -->
                    <p>This is a simple hero unit, a simple jumbotron-style
                    component for calling extra attention to featured content or
                    information.</p>
                    <p>
                    <button id="start_button" class="btn
                        btn-primary btn-lg">Start game</button>
                    </p>
                </div> <!-- jumbotron -->
            </div>
        </div>

        <!-- the controller which has the car selection process -->
        <div id="select_car_controller">
            <div class="container">

                <!-- For Flask's render_template -->
                {% raw %}
                <script id="car_thumbnail_template"
                    type="text/x-handlebars-template">

                    <div style="text-align:center;" class="row">
                        <h1>Player {{current_player}} pick your car</h1><br>
                    </div>

                    <div class="row">
                        {{#each car_types}}
                        <div class="col-xs-6 col-md-6">
                            <div class="thumbnail">
                                <img src="{{image_url}}"
                                alt="...">
                                <h1>{{car_type}}</h1>
                                <button
                                    id="button_select_car_{{car_type}}"
                                    class="btn btn-primary">Choose</button>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </script>
                {% endraw %}

                <div id="car_thumbnail_template_placeholder"></div>
            </div>
        </div>

        <!-- Starts the game progress controller, this is a stupid thing made
        just to look nice -->
        <div id="start_game_controller">
            <div class="container">

                <div class="row">
                    <div style="text-align:left !important;" 
                        class="col-md-8 col-md-offset-2">

                        <h1>Rules of the game</h3>

                        <h3>Object of the game</h3>
                        <p>The object of the game is to kill as many opponents as
                        you can!  You can achieve this by either ramming into the
                        other car or by shooting the other car.  
                        </p>
                        <p>This game is free for all!  Feel free to let your
                        competitive spirit take over.  Kill everyone else. 
                        </p>
                        <h3>Upgradable cars</h3>
                        <p>The cars are industry standard X cars that you will be
                        talking to via Sony PlayStation 2 controllers.  As you
                        kill more people you will get more upgrades and your car
                        will become more powerful.  Making it easier for you to
                        kill the opponent!
                        </p>

                        <br><br>
                        <div style="text-align:center;">
                            <button id="button_start_game" class="btn
                                btn-success btn-lg">Start!</button>
                        </div>
                        <br><br>
                    </div>
                </div>

            </div>
        </div>

        <!-- the controller that has the game scores -->
        <div id="game_progress_controller">
            <div class="container">

                <!-- For Flask's render_template -->
                {% raw %}
                <script id="player_progress_template"
                    type="text/x-handlebars-template">

                    <h2>Game statistics</h2>
                    <div class="row">
                        {{#each player_and_cars}}
                        <div class="col-md-4">
                            <div class="thumbnail" style="font-size:20px;">
                                <h1>Player {{player_id}}</h1>
                                <h4>{{car_type}}</h4>
                                <strong>Health</strong> <div
                                    id="health">{{car_health}}</div>
                                <strong>Upgrades</strong> <div
                                    id="upgrades">{{upgrades}}</div>
                                <strong>Deaths</strong> <div
                                    id="upgrades">{{deaths}}</div>
                            </div>
                        </div>
                        {{/each}}
                    </div>

                    <div style="text-align:center;">
                        <button class="btn btn-danger btn-large"
                            id="terminate_button">End game</button>
                        <button class="btn btn-success btn-large"
                            id="restart_button">Restart</button>
                    </div>

                    <h2>Events log</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="list-group">
                                {{#each events}}
                                <li class="list-group-item"><font
                                    face="courier">{{timestamp}}</font>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                {{information}}</li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>

                </script>
                {% endraw %}

                <div id="player_progress_template_placeholder"></div>

            </div> <!-- Row -->
        </div> <!-- container -->
    </div>


    <!-- footer -->
    <div class="footer">
        <div class="container">
            <hr>
            <p style="color:#817f7f">This project was developed by the
            students in EECS 373 - Embedded Systems
            <p style="color:#817f7f;">Copyright © 2015 EECS 373 Group,
            University of Michigan</p>
            <br>
        </div>
    </div>

    <script type="text/javascript" src="./static/js/script.js"></script>
    <script type="text/javascript" src="./static/js/Router.js"></script>
    <script type="text/javascript" src="./static/js/Activity.js"></script>
    <script type="text/javascript" src="./static/js/MainActivity.js"></script>
    <script type="text/javascript" 
        src="./static/js/SelectCarActivity.js"></script>
    <script type="text/javascript" 
        src="./static/js/StartGameActivity.js"></script>
    <script type="text/javascript"
        src="./static/js/GameProgressActivity.js"></script>
    <script type="text/javascript" 
        src="./static/js/AjaxRequester.js"></script>

</body>

</html>
